header.header
  div._wrapper
    .header__content._container

      div.header__menu.menu._col
        div.menu__icon.js-nav-menu-icon
        div.menu__nav-wrapper
          //- nav.menu__body
            //- ul.menu__list
              //- li.menu__item._active
                //- a(href="index.html").menu__link Главная
              //- li.menu__item
                //- a(href="about.html").menu__link О проекте
              //- li.menu__item
                //- a(href="directions.html").menu__link Направления
              //- li.menu__item
                //- a(href="events.html").menu__link События
              //- li.menu__item
                //- a(href="contacts.html").menu__link Контакты
          //- button.btn.btn-m.js-btn-cta Записаться
