section.hero
  div._wrapper
    div.hero__content._container
      div.hero__description._col
        h2.hero__title.title-xl IT-КУБ.Майкоп
        p.hero__paragraph.text-l
          | Площадка дополнительного образования детей в сфере информационных технологий в рамках федерального образовательного проекта
        div.hero__note.text-m
          img(src="assets/img/logo-university.svg", alt="").note__image
          p.note__text на базе Адыгейского #[br] государственного университета
        button.btn.btn-l.js-btn-cta Записаться
      div.hero__image-container._col
        img(src="assets/img/hero-img.svg", alt="").hero__image
        
