extends ../layout/main

block variables
  - var title = 'About page'
  - var description = ''
  - var pageClass = 'about-page'

block content
  h1.heading About page
  include ../includes/modules/section-hero
