extends ../layout/main

block variables
  - var title = 'Frontend template main page'
  - var description = ''
  - var pageClass = 'index-page'

block content
  h1.heading Hello Frontend template
  include ../includes/modules/section-hero
