.btn {
  /* flex-shrink: 0; */
  position: relative;
  display: inline-block;
  /* color: var(--global-color-white-900); */
  font: inherit;
  font-weight: 700;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1280 - 320)));
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  cursor: pointer;

  /* debug */
  /* outline: 1px solid red; */
}

.btn:hover {
  background-color: var(--global-blue-900-color);
}
/* icon-left, icon-right, icon-ovf-left, icon-ovf-right, icon-ovf-center */
.btn_icon_left {
}

.btn_icon_right {
}

.btn_icon_ovf-left {
}

.btn_icon_ovf-right {
}

.btn_icon_ovf-center {
}

/* .btn-l {
  @util padding(15px 63px);
}

.btn-m {
  @util padding(10px 37px);
}

.btn_ghost {
  color: var(--global-blue-700-color);
  background-color: var(--global-color-white);
  border: 1px solid currentColor;
} */

.btn,
.btn:hover {
  transition: background-color 0.3s ease-in-out;
}

/* .btn_ghost:hover {
  color: var(--global-color-white-900);
} */

a.btn {
  text-decoration: none;
}

.btn._fw {
  width: 100%;
}
