@import 'sanitize.css';
@import 'sanitize.css/typography.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/assets.css';
@import 'sanitize.css/reduce-motion.css';

/* Set core root defaults */
html {
  font-family: 'Mazzard H', Arial, Helvetica, sans-serif;
  color: var(--global-dark-800-color);
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Set transition to all links */
a, a:link, a:active, a:visited {
  transition: all 0.3s ease-in-out;
}

/* input:required:invalid,
input:invalid {
  border: 2px solid #cd5c5c;
}

input:required:valid {
  border-color: #20b2aa;
}

input:focus:invalid {
  border: none;
}

input:valid {
  border: 2px solid black;
}
 */
