@import '../../node_modules/sanitize.css/sanitize.css';
@import '../../node_modules/sanitize.css/forms.css';
@import '../../node_modules/sanitize.css/typography.css';
@import '../../node_modules/sanitize.css/assets.css';
@import '../../node_modules/sanitize.css/reduce-motion.css';

/* @google-font 'Jost' 100,200,300,400,500,600,700,800,900 display=swap; */

/* Set core root defaults */
html {
  color: var(--global-dark-800-color);
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Set transition to all links */
a, a:link, a:active, a:visited {
  transition: all 0.3s ease-in-out;
}

