.icon {
  position: relative;
  z-index: 0;
}

.icon::before {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
  content: '';
}

.icon_left::before {
  left: 0;
}

.icon_menu::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: '';
  @util center;
}

.icon_call::before {
  position: absolute;
  display: block;
  background-image: url('../assets/img/icon-phone.svg');
  background-repeat: no-repeat;
  content: '';
}

.icon_fb {
  background-image: url('../assets/img/icon-fb-black.svg');
}

.icon_vimeo {
  background-image: url('../assets/img/icon-vimeo-black.svg');
}

.icon_instagram {
  background-image: url('../assets/img/icon-insta-black.svg');
}

.icon_attachment::before {
  background-image: url('../assets/img/icon-attachment.svg');
}

.icon_circle::before {
  background-image: url('../assets/img/icon-circle.svg');
}

.icon_triangle-up::before {
  @util triangle(5px, var(--global-secondary-900-color), up);
}

.icon_triangle-down::before {
  @util triangle(5px, var(--global-secondary-900-color), down);
}

.icon_corner-down::before {
  border-bottom: 2px solid var(--global-secondary-900-color);
  border-left: 2px solid var(--global-secondary-900-color);
  transform: translate(0, -50%) rotate(-45deg);
}

.icon_corner-up::before {
  border-bottom: 2px solid var(--global-secondary-900-color);
  border-left: 2px solid var(--global-secondary-900-color);
  transform: translate(0, -50%) rotate(135deg);
}
