
include ../_includes/head.pug

body
  main
    block pageContent
    // It's just layout file. Doesn't write code here.
    // only set common blocks for the current layout or change paths to includes.

include ../_blocks/footer.pug