include ../_includes/data.pug
include ../_mixins/head.pug

head
  +head(data)

body
  main
    block pageContent
      // It's just layout file. Doesn't write code here.
      // only set common blocks for the current layout or change paths to includes.

include ../_blocks/footer.pug
